
.box-rounded, .box-rounded-top, .box-rounded-bottom, .box-rounded-left, .box-rounded-right, .box-rounded-hard, .box-rounded-hard-top, .box-rounded-hard-bottom, .box-rounded-hard-left, .box-rounded-hard-right {
  padding: 5px;
  margin-bottom: 10px;
}

.box-rounded {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.box-rounded-top {
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box-rounded-bottom {
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box-rounded-left {
  -moz-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.box-rounded-right {
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box-rounded-hard {
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.box-rounded-hard-top {
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.box-rounded-hard-bottom {
  -moz-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.box-rounded-hard-left {
  -moz-border-bottom-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.box-rounded-hard-right {
  -moz-border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

