a.button-primary {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 4px 10px 6px 10px;

  background-image: -moz-linear-gradient(top, #f88017, #b35010);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f88017), to(#b35010));
  /* add these to the color guide */
}

a.button-primary:hover {
  background-image: -moz-linear-gradient(top, #f88017, #c87024);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f88017), to(#c87024));
}

a.button-primary span {
  font-weight: bold;
}

a.button-secondary {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 4px 10px 6px 10px;
}
