.color-white1        {            color: #FFFFFF; }
.color-white2        {            color: #FBF9FA; }
.color-white3        {            color: #E0E0E0; }
.color-blue-gray1    {            color: #D9D9D9; }
.color-blue-gray2    {            color: #CBCBCB; }
.color-blue-gray3    {            color: #666666; }
.color-blue-gray4    {            color: #424242; }
.color-blue-gray5    {            color: #333333; }
.color-beige1        {            color: #BBB0A3; }
.color-beige2        {            color: #695E49; }
.color-green1        {            color: #96A336; }
.color-green2        {            color: #566C11; }
.color-green3        {            color: #445708; }
.color-black1        {            color: #000000; }

.bg-color-white1     { background-color: #FFFFFF; }
.bg-color-white2     { background-color: #FBF9FA; }
.bg-color-white3     { background-color: #E0E0E0; }
.bg-color-blue-gray1 { background-color: #D9D9D9; }
.bg-color-blue-gray2 { background-color: #CBCBCB; }
.bg-color-blue-gray3 { background-color: #666666; }
.bg-color-blue-gray4 { background-color: #424242; }
.bg-color-blue-gray5 { background-color: #333333; }
.bg-color-beige1     { background-color: #BBB0A3; }
.bg-color-beige2     { background-color: #695E49; }
.bg-color-green1     { background-color: #96A336; }
.bg-color-green2     { background-color: #566C11; }
.bg-color-green3     { background-color: #445708; }
.bg-color-black1     { background-color: #000000; }

.border-color-white1     { border: #FFFFFF 1px solid; }
.border-color-white2     { border: #FBF9FA 1px solid; }
.border-color-white3     { border: #E0E0E0 1px solid; }
.border-color-blue-gray1 { border: #D9D9D9 1px solid; }
.border-color-blue-gray2 { border: #CBCBCB 1px solid; }
.border-color-blue-gray3 { border: #666666 1px solid; }
.border-color-blue-gray4 { border: #424242 1px solid; }
.border-color-blue-gray5 { border: #333333 1px solid; }
.border-color-beige1     { border: #BBB0A3 1px solid; }
.border-color-beige2     { border: #695E49 1px solid; }
.border-color-green1     { border: #96A336 1px solid; }
.border-color-green2     { border: #566C11 1px solid; }
.border-color-green3     { border: #445708 1px solid; }
.border-color-black1     { border: #000000 1px solid; }

.gradient-top-green1-bottom-green2 {
  background-image: -moz-linear-gradient(top, #96A336, #566C11);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#96A336), to(#566C11));
}

.gradient-top-beige1-bottom-beige2 {
  background-image: -moz-linear-gradient(top, #BBB0A3, #695E49);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BBB0A3), to(#695E49));
}

.gradient-top-white1-bottom-white3 {
  background-image: -moz-linear-gradient(top, #FFFFFF, #e0e0e0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#e0e0e0));
}
