
/* 
 * Neutral Widget (the kind on the homepage)
 */ 

div.widget-neutral {
  margin: 0px;
  margin-bottom: 10px;
} 

div.widget-neutral h2 {
  display: inline;
}

div.widget-neutral div.inner {
  margin-top: 5px;
}

div.widget-neutral div.inner h3 {
  font-weight: normal;

  padding: 0px;
  margin: 0px 0px 5px 0px;
}

/* 
 * Widget 2 - has a gradient title bar and smaller title text
 */ 

div.widget-colored-title {
  height: 16px;
  margin-bottom: 0; /* override rounded-box default */
}

div.widget-colored-title h2 {
  display: inline;
  float: left;
  margin: 0px 6px 0px 6px;
}

div.widget-colored-title p.righttext {
  display: inline;
  float: right;
  margin: 0px 6px 0px 6px;
}

div.widget-colored-bottom {
  padding: 5px;
  margin-bottom: 10px;
}

div.widget-colored-bottom p {
  margin: 0px;
  padding: 10px 0px 15px 0px;
}

div.widget-colored-bottom div.inner {
}

/* 
 * Search results widget
 */ 

div.adv-search-results div.title {
  padding: 5px;
}

div.adv-search-results div.title span.matches {
  display: inline-block;
  width: 300px;
}

div.adv-search-results div.title span.matches {
  display: inline-block;
  width: 300px;
}

div.adv-search-results div.title span.pagination {
  margin-top:1px;
  float: right;
}

div.adv-search-results div.title span.pagination span {
  padding: 0px 3px 0px 3px;
}

div.adv-search-results div.title span.pagination a {
  display: inline-block;
  text-decoration: none;
  background-color: #cbd486;
}

div.adv-search-results div.title span.pagination a:hover {
  background-color: #d8e091;
}

div.adv-search-results div.main-bg {
  padding: 5px;
}

div.adv-search-results div.main-bg div.table-header {
  padding: 5px;
  border-bottom: #cdc7be 1px solid;
}

div.adv-search-results div.main-bg div.table-result {
  padding: 5px;
  border-bottom: #e0e0e0 1px solid;
}

div.adv-search-results div.summary {
  padding: 5px;
  text-align: center;
}

/* 
 * Search results widget
 */ 

div.adv-search-params {
  border-right: 0px;
}

div.adv-search-params div {
  padding: 6px;
}

div.adv-search-params div.form {
  border-bottom: #cdc7be 1px solid;
}

div.adv-search-params div.bottom {
  text-align: center;
}
