header, footer, artcile {
  display: block;
}

header, footer {
  margin:0px auto 0px auto;
  position:relative;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
}

footer {
  clear: both;
  padding-top: 10px;
  padding-bottom: 20px;
}

header p { /* breadcrumbs */
  padding: 0;
  margin: 0;
}
header h1 { /* page title */
  padding: 0;
  margin: 5px 0px 5px 0px;
}

div.homepage-col-left {
  width: 580px;
  float: left;
}

div.homepage-col-right {
  width: 365px;
  float: right;
}

div.search-col-left {
  width: 540px;
  float: left;
  padding-top: 15px;
}

div.search-col-right {
  width: 395px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;

  border-left: #ddd 2px solid; /* override the left side, to put a drop-shadow there */
}

div.adv-search-col-left {
  width: 226px;
  float: left;
  padding: 6px 0px 6px 6px;

  border-right: 0px;
}

div.adv-search-col-right {
  width: 712px;
  float: right;
  padding: 6px;
}
