  <div class="container-search-facets">
    <div class="title">Narrow by Category</div>
    <div class="category"><font class="color-blue-gray3">&#9656;</font> All Categories</div>
    <div class="category"><font class="color-blue-gray3">&#9662;</font> Military</div>
    <div class="subcategory">
      <a href="">Draft, Enlistment</a>
      <span class="count">5,000+</span>
    </div>
    <div class="subcategory">
      <a href="">Draft, Enlistment</a>
      <span class="count">5,000+</span>
    </div>
    <div class="subcategory">
      <a href="">Draft, Enlistment</a>
      <span class="count">5,000+</span>
    </div>
  </div>
