<div class="widget-neutral box-rounded border-color-blue-gray2 bg-color-white2">
  <h2 class="font-xbig color-blue-gray4"><%= title -%></h2>
  <div class="inner box-rounded-bottom border-color-blue-gray1 bg-color-white1 color-black1">
    <%= yield %>
  </div>
</div>
