<p class="font-small"><%= link_to 'Style Guide' %> >> Advanced Search Pages</p>
<h1 class="font-xbig">Style Guide: Advanced Search Pages</h1>

<div class="adv-search-col-left">

  <% render :layout => 'container-search-form-simple', :locals => { } do %>
  <% end %>

  <% render :layout => 'container-search-facets', :locals => { } do %>
  <% end %>

</div>
<div class="adv-search-col-right">

  <% render :layout => 'container-search-results', :locals => { } do %>
  <% end %>

</div>
