<p class="font-small"><%= link_to 'Style Guide' %> >> Boxes</p>
<h1 class="font-xbig">Style Guide: Boxes</h1>

<h2 class="font-big">Soft Rounding</h2>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft', :bordercolor => 'blue-gray4' } do %>
  box-rounded-soft
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-top', :bordercolor => 'blue-gray4' } do %>
  box-rounded-soft-top
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-bottom', :bordercolor => 'blue-gray4' } do %>
  box-rounded-soft-bottom
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-left', :bordercolor => 'blue-gray4' } do %>
  box-rounded-soft-left
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-right', :bordercolor => 'blue-gray4' } do %>
  box-rounded-soft-right
<% end %>

<h2 class="font-big">Hard Rounding</h2>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard', :bordercolor => 'blue-gray4' } do %>
  box-rounded-hard
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-top', :bordercolor => 'blue-gray4' } do %>
  box-rounded-hard-top
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-bottom', :bordercolor => 'blue-gray4' } do %>
  box-rounded-hard-bottom
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-left', :bordercolor => 'blue-gray4' } do %>
  box-rounded-hard-left
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-right', :bordercolor => 'blue-gray4' } do %>
  box-rounded-hard-right
<% end %>

