<p class="font-small"><%= link_to 'Style Guide' %> >> Boxes</p>
<h1 class="font-xbig">Style Guide: Boxes</h1>

<h2 class="font-big">Regular Rounding</h2>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top and bottom
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-top', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-bottom', :bordercolor => 'blue-gray4' } do %>
  Box with rounded bottom only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-left', :bordercolor => 'blue-gray4' } do %>
  Box with rounded left only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-soft-right', :bordercolor => 'blue-gray4' } do %>
  Box with rounded right only
<% end %>

<h2 class="font-big">Harder Rounding</h2>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top and bottom
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-top', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-bottom', :bordercolor => 'blue-gray4' } do %>
  Box with rounded bottom only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-left', :bordercolor => 'blue-gray4' } do %>
  Box with rounded left only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-right', :bordercolor => 'blue-gray4' } do %>
  Box with rounded right only
<% end %>

