<h2 class="font-big">Regular Rounding</h2>

<% render :layout => 'box', :locals => {:boxtype => 'rounded', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top and bottom
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-top', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-bottom', :bordercolor => 'blue-gray4' } do %>
  Box with rounded bottom only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-left', :bordercolor => 'blue-gray4' } do %>
  Box with rounded left only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-right', :bordercolor => 'blue-gray4' } do %>
  Box with rounded right only
<% end %>

<h2 class="font-big">Harder Rounding</h2>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top and bottom
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-top', :bordercolor => 'blue-gray4' } do %>
  Box with rounded top only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-bottom', :bordercolor => 'blue-gray4' } do %>
  Box with rounded bottom only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-left', :bordercolor => 'blue-gray4' } do %>
  Box with rounded left only
<% end %>

<% render :layout => 'box', :locals => {:boxtype => 'rounded-hard-right', :bordercolor => 'blue-gray4' } do %>
  Box with rounded right only
<% end %>

