<div class="swatches">
  <div class="bg-color-white1" >   
    <p class="hex">#FFFFFF</p>
    <p class="label">White1</p>
    <p class="usage">Page BG, Widget inner bg</p>
  </div>
  <div class="bg-color-white2" >   
    <p class="hex">#FBF9FA</p>
    <p class="label">White2</p>
    <p class="usage">Widget Outer BG</p>
  </div>
  <div class="bg-color-white3" >   
    <p class="hex">#E0E0E0</p>
    <p class="label">White3</p>
    <p class="usage">Second color in BG gradients</p>
  </div>
  <br />

  <div class="bg-color-blue-gray1">
    <p class="hex">#D9D9D9</p>
    <p class="label">Blue-gray1</p>
    <p class="usage">Widget Content-Area Border</p>
  </div>
  <div class="bg-color-blue-gray2">
    <p class="hex">#CBCBCB</p>
    <p class="label">Blue-gray2</p>
    <p class="usage">Widget Outer Border</p>
  </div>
  <div class="bg-color-blue-gray3">
    <p class="hex">#666666</p>
    <p class="label">Blue-gray3</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-blue-gray4">
    <p class="hex">#424242</p>
    <p class="label">Blue-gray4</p>
    <p class="usage">Widget Title</p>
  </div>
  <div class="bg-color-blue-gray5">
    <p class="hex   color-blue-gray2">#333333</p>
    <p class="label color-blue-gray2">Blue-gray5</p>
    <p class="usage color-blue-gray2">Widget Subheading</p>
  </div>
  <br />

  <div class="bg-color-beige00">    
    <p class="hex">#f5efdd</p>
    <p class="label">Beige00</p>
    <p class="usage"></p>
  </div>
  <div class="bg-color-beige0">    
    <p class="hex">#cdc7be</p>
    <p class="label">Beige0</p>
    <p class="usage"></p>
  </div>
  <div class="bg-color-beige1">    
    <p class="hex">#BBB0A3</p>
    <p class="label">Beige1</p>
    <p class="usage">Dotted HRs</p>
  </div>
  <div class="bg-color-beige2">    
    <p class="hex">#695E49</p>
    <p class="label">Beige2</p>
    <p class="usage">Widget Subheading (alt)</p>
  </div>
  <br />

  <div class="bg-color-green00">    
    <p class="hex">#d8e091</p>
    <p class="label">Green00</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-green0">    
    <p class="hex">#cbd486</p>
    <p class="label">Green0</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-green1">    
    <p class="hex">#96A336</p>
    <p class="label">Green1</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-green2">    
    <p class="hex">#566C11</p>
    <p class="label">Green2</p>
    <p class="usage">Right Arrow Button</p>
  </div>
  <div class="bg-color-green3">    
    <p class="hex   color-blue-gray2">#445708</p>
    <p class="label color-blue-gray2">Green3</p>
    <p class="usage color-blue-gray2">Links</p>
  </div>
  <br />

  <div class="bg-color-black1">    
    <p class="hex   color-blue-gray2">#000000</p>
    <p class="label color-blue-gray2">Black</p>
    <p class="usage color-blue-gray2">Normal Text</p>
  </div>
</div>
