<p class="font-small"><%= link_to 'Style Guide' %> >> Colors</p>
<h1 class="font-xbig">Style Guide: Colors</h1>

<div class="swatches">
  <div class="bg-color-green00">    
    <p class="label">Name: Green00</p>
    <p class="hex">#d8e091</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-green0">    
    <p class="label">Name: Green0</p>
    <p class="hex">#cbd486</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-green1">    
    <p class="label">Name: Green1</p>
    <p class="hex">#96A336</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-green2">    
    <p class="label color-beige00">Name: Green2</p>
    <p class="hex   color-beige00">#566C11</p>
    <p class="usage color-beige00">Right Arrow Button</p>
  </div>
  <div class="bg-color-green3">    
    <p class="label color-beige00">Name: Green3</p>
    <p class="hex   color-beige00">#445708</p>
    <p class="usage color-beige00">Links</p>
  </div>
  <br />

  <div class="bg-color-orange1" >   
    <p class="label">Name: Orange1</p>
    <p class="hex">#f88017</p>
    <p class="usage">?</p>
  </div>
  <div class="bg-color-orange2" >   
    <p class="label">Name: Orange2</p>
    <p class="hex">#c87024</p>
    <p class="usage">?</p>
  </div>
  <div class="bg-color-orange3" >   
    <p class="label">Name: Orange3</p>
    <p class="hex">#b35010</p>
    <p class="usage">?</p>
  </div>
  <br />

  <div class="bg-color-beige000" >   
    <p class="label">Name: Beige000</p>
    <p class="hex">#f8f3e7</p>
    <p class="usage">?</p>
  </div>
  <div class="bg-color-beige00">    
    <p class="label">Name: Beige00</p>
    <p class="hex">#f5efdd</p>
    <p class="usage"></p>
  </div>
  <div class="bg-color-beige0">    
    <p class="label">Name: Beige0</p>
    <p class="hex">#cdc7be</p>
    <p class="usage"></p>
  </div>
  <div class="bg-color-beige1">    
    <p class="label">Name: Beige1</p>
    <p class="hex">#BBB0A3</p>
    <p class="usage">Dotted HRs</p>
  </div>
  <div class="bg-color-beige2">    
    <p class="label color-beige00">Name: Beige2</p>
    <p class="hex   color-beige00">#695E49</p>
    <p class="usage color-beige00">Container Subheading (alt)</p>
  </div>
  <br />

  <div class="bg-color-offwhite1" >   
    <p class="label">Name: Offwhite1</p>
    <p class="hex">#FBF9FA</p>
    <p class="usage">Container Outer BG</p>
  </div>
  <div class="bg-color-offwhite2" >   
    <p class="label">Name: Offwhite2</p>
    <p class="hex">#d6d1d5</p>
    <p class="usage">?</p>
  </div>
  <br />

  <div class="bg-color-white1" >   
    <p class="label">Name: White1</p>
    <p class="hex">#FFFFFF</p>
    <p class="usage">Page BG, Container inner bg</p>
  </div>
  <div class="bg-color-gray1" >   
    <p class="label">Name: Gray1</p>
    <p class="hex">#E0E0E0</p>
    <p class="usage">Second color in BG gradients</p>
  </div>
  <div class="bg-color-gray2">
    <p class="label">Name: Gray2</p>
    <p class="hex">#D9D9D9</p>
    <p class="usage">Container Content-Area Border</p>
  </div>
  <div class="bg-color-gray3" >   
    <p class="label">Name: Gray3</p>
    <p class="hex">#ddd</p>
    <p class="usage">?</p>
  </div>
  <div class="bg-color-gray4">
    <p class="label color-orange3">Name: Gray4</p>
    <p class="hex   color-orange3">#CBCBCB</p>
    <p class="usage color-orange3">Container Outer Border</p>
  </div>
  <br />

  <div class="bg-color-gray5">
    <p class="label">Name: Gray5</p>
    <p class="hex">#666666</p>
    <p class="usage">??</p>
  </div>
  <div class="bg-color-gray6">
    <p class="label">Name: Gray6</p>
    <p class="hex">#424242</p>
    <p class="usage">Container Title</p>
  </div>
  <div class="bg-color-gray7">
    <p class="label color-beige00">Name: Gray7</p>
    <p class="hex   color-beige00">#333333</p>
    <p class="usage color-beige00">Container Subheading</p>
  </div>
  <div class="bg-color-black1">    
    <p class="label color-beige00">Name: Black</p>
    <p class="hex   color-beige00">#000000</p>
    <p class="usage color-beige00">Normal Text</p>
  </div>
  <br />

</div>
