<p class="font-small"><%= link_to 'Style Guide' %> >> Containers</p>
<h1 class="font-xbig">Style Guide: Containers</h1>

<div class="homepage-col-left">

  <% render :layout=>'container-neutral', :locals=>{:title=>'Name: container-neutral'} do %>
    These are mostly used on the homepage (see <a href="homepage_guide.html">Homepage Guide</a>) as a fairly netural container.
  <% end %>

  <% render :layout=>'container-neutral', :locals=>{:title=>'Name: container-neutral'} do %>
    <h3 class="font-big color-beige2 dotted-underline">Subheading</h3>
    Inner text.  Inner text.  Inner text.  Inner text.  Inner text.  
    Inner text.  Inner text.  Inner text.  <a href="">link text</a> <br />
    <br />
    <h3 class="font-big color-gray7 dotted-underline">Subheading (Alt. Color)</h3>
    Inner text.  Inner text.  Inner text.  Inner text.  Inner text.  
    Inner text.  Inner text.  Inner text.  <a href="">link text</a> <br />
    <br />
    <h3 class="font-big color-green2 dotted-underline">Subheading (2nd Alt. Color)</h3>
    Inner text.  Inner text.  Inner text.  Inner text.  Inner text.  
    Inner text.  Inner text.  Inner text.  <a href="">link text</a> <br />
  <% end %>

  <% render :layout=>'container-colored-primary', 
            :locals=>{:title=>"Name: container-colored-primary", 
                      :rightlink=>{:href=>"", :label=>"Right side link"} } do %>
    <% render :layout=>'container-colored-primary-inner' do %>
      These are used on the search page (see <a href="search_guide.html">Search Guide</a>), in the left column.<br /><br />Green stands out somewhat more than beige/gray, so this is the container for primary content.
    <% end %>
  <% end %>

  <% render :layout=>'container-colored-secondary', 
            :locals=>{:title=>"Name: container-colored-secondary", 
                      :rightlink=>{:href=>"", :label=>"Right side link"} } do %>
    <% render :layout=>'container-colored-secondary-inner' do %>
      These are used on the search page (see <a href="search_guide.html">Search Guide</a>), in the right column.<br /><br />Beige/gray is subtler than green, so this is the container for secondary content.
    <% end %>
  <% end %>

  <% render :layout=>'container-colored-secondary', 
            :locals=>{:title=>"Name: container-colored-secondary" } do %>
    <p>Outer text.  Outer text.  Outer text.  Outer text.  Outer text.  Outer text.</p>
    <% render :layout=>'container-colored-secondary-inner' do %>
      Inner text.  Inner text.  Inner text.  Inner text.  Inner text.  
      Inner text.  Inner text.  Inner text.  <a href="">link text</a> <br />
    <% end %>
  <% end %>

  <% render :layout=>'container-search-form-simple', 
            :locals=>{ :title => 'Name: container-search-form-simple' } do %>
  <% end %>

  <% render :layout=>'container-search-params', 
            :locals=>{ :title => 'Name: container-search-params',
                       :params => [ { :key => 'Key1', :value => 'Value1' },
                                    { :key => 'Key2', :value => 'Value2' },
                                    { :key => 'Key3', :value => 'Value3' } ] } do %>
  <% end %>

  <% render :layout=>'container-search-facets', 
            :locals=>{ :title=>'Name: container-search-facets',
                       :categories=> ['Parent Category','Category'],
                       :sub_categories=> [{:name=>'Subcategory 1', :count=>'count1' },
                                          {:name=>'Subcategory 2', :count=>'count2' },
                                          {:name=>'Subcategory 3', :count=>'count3' } ] } do %>
  <% end %>

  <% render :layout=>'container-search-filters', 
            :locals=>{ :title=>'Name: container-search-filters',
                       :filters=> ['Filter 1','Filter 2'],
                       :sub_filters=> [{:name=>'Sub-filter 1', :count=>'count1' },
                                       {:name=>'Sub-filter 2', :count=>'count2' },
                                       {:name=>'Sub-filter 3', :count=>'count3' } ] } do %>
  <% end %>

  <% render :layout=>'container-search-results', :locals=>{:title=>'Name: container-search-results'} do %>
  <% end %>

</div>

<div class="homepage-col-right">
</div>

