<p class="font-small"><%= link_to 'Style Guide' %> >> Fonts</p>
<h1 class="font-xbig">Style Guide: Fonts</h1>


<p class="font-xbig"  >Name: font-xbig</p>
<p class="font-xbig2" >Name: font-xbig2</p>
<p class="font-big"   >Name: font-big</p>
<p class="font-normal">Name: font-normal</p>
<p class="font-small" >Name: font-small</p>
