<p class="font-small"><%= link_to 'Style Guide' %> >> Fonts</p>
<h1 class="font-xbig">Style Guide: Fonts</h1>


<p class="font-xbig"  >X-Big Font: { font: bold 20px "Trebuchet MS",sans-serif; text-decoration: none; }</p>
<p class="font-big"   >Big Font: { font: bold 14px/1.2 "Trebuchet MS"; line-height: 21px; }</p>
<p class="font-normal">Normal Font: { font: 13px Tahoma,Geneva,sans-serif; }</p>
<p class="font-small" >Small Font: { font: 10px Tahoma,Geneva,sans-serif; }</p>
