<p class="font-small"><%= link_to 'Style Guide' %> >> Forms</p>
<h1 class="font-xbig">Style Guide: Forms</h1>

<div class="search-col-left">

  <% render :layout=>'widget-colored-primary', 
            :locals=>{:title=>"widget-colored-primary", 
                      :rightlink=>{:href=>"", :label=>"Right side link"} } do %>
    <% render :layout=>'widget-colored-primary-inner' do %>

      <div class="form_section">
        <h3>Name</h3>
        <span class="form_row">
          <span class="field">
            <span class="label">First & Middle Name(s)</span>
            <span class="value"><input class="first-middle-names" /></span>
          </span>
          <span class="field">
            <span class="label">Last Name</span>
            <span class="value"><input class="last-name" /></span>
          </span>
        </span>
      </div>

      <div class="form_section">
        <h3>Event</h3>
        <span class="form_row">
          <span class="row_label">Birth</span>
          <span class="field">
            <span class="label">Day</span>
            <span class="value"><select class="date-day"><option>1</option></select></span>
          </span>
          <span class="field">
            <span class="label">Month</span>
            <span class="value"><select class="date-month"><option>1</option></select></span>
          </span>
          <span class="field">
            <span class="label">Year</span>
            <span class="value"><input class="date-year" /></span>
          </span>
          <span class="field">
            <span class="label">Location</span>
            <span class="value"><input class="location" /></span>
          </span>
        </span>
        <span class="form_row">
          <span class="row_label">Lived In</span>
          <span class="field">
            <span class="label">Location</span>
            <span class="value"><input class="location" /></span>
          </span>
        </span>
        <span class="form_row">
          <span class="row_label">Departure</span>
          <span class="field">
            <span class="label">Year</span>
            <span class="value"><input class="date-year" /></span>
          </span>
          <span class="field">
            <span class="label">Location</span>
            <span class="value"><input class="location" /></span>
          </span>
        </span>
      </div>

      <div class="form_section">
        <h3>Family Member</h3>
        <span class="form_row">
          <span class="field">
            <span class="label">Relationship</span>
            <span class="value"><select class="family-member-relationship"><option>Choose ...</option></select></span>
          </span>
          <span class="field">
            <span class="label">First Name</span>
            <span class="value"><input class="family-member-first-name" /></span>
          </span>
          <span class="field">
            <span class="label">Last Name</span>
            <span class="value"><input class="family-member-last-name" /></span>
          </span>
          <span class="field">
            <span class="label"></span>
            <span class="value"><a href="">Remove</a></span>
          </span>
        </span>
        <span class="form_row">
          <span class="field">
            <span class="value"><a href="">Add family members</a> <font class="color-beige2">(mother, father, spouse, siblings, children)</font></span>
          </span>
        </span>
      </div>

      <div class="form_section">
        <h3>More</h3>
        <span class="form_row">
          <span class="field">
            <span class="label">Keyword</span>
            <span class="value"><input class="keyword" /></span>
          </span>
        </span>
        <span class="form_row">
          <span class="field">
            <span class="label">Gender</span>
            <span class="value"><select class="gender"><option>-- Select --</option></select></span>
          </span>
          <span class="field">
            <span class="label">Race/Nationality</span>
            <span class="value"><input class="race-nationality" /></span>
          </span>
        </span>
      </div>

      <%= render :partial => 'button-primary', :locals => { :href=>"", :label=>"Search" } %>
    <% end %>
  <% end %>

</div>
<div class="search-col-right">

  <% render :layout=>'widget-colored-secondary', 
            :locals=>{:title=>"widget-colored-secondary", 
                      :rightlink=>{:href=>"", :label=>"Right side link"} } do %>
    <% render :layout=>'widget-colored-secondary-inner' do %>
      These are used on the search page (see <a href="search_guide.html">Search Guide</a>), in the right column.<br /><br />Beige/gray is subtler than green, so this is the container for secondary content.
    <% end %>
  <% end %>

</div>
