<p class="font-small"><%= link_to 'Style Guide' %> >> Links</p>
<h1 class="font-xbig">Style Guide: Links</h1>


<b>Links on light backgrounds</b>
<ul>
  <li /><%= link_to "a-bg-light" %>
</ul>

<b>Links on dark backgrounds</b>
<ul class="bg-color-black1">
  <li /><%= link_to "a-bg-dark", { }, :class => "bg-dark" %>
</ul>
