<p class="font-small"><%= link_to 'Style Guide' %> >> Links</p>
<h1 class="font-xbig">Style Guide: Links</h1>


<b>Links on light backgrounds</b>
<ul>
  <li /><%= link_to "Link-green-with-hover" %>
</ul>

<b>Links on dark backgrounds</b>
<ul class="bg-color-black1">
  <li /><%= link_to "Link-white1", { }, :class => "color-white1" %>
</ul>
