<p class="font-small"><%= link_to 'Style Guide' %> >> Search Result Pages</p>
<h1 class="font-xbig">Style Guide: Search Result Pages</h1>

<div class="search3col-main">
  <div class="matches-and-params">
    <div class="matches">
    
      <% render :layout=>'container-search-results', :locals=>{:title=>'Matches 1-25 of 30,176'} do %>
      <% end %>
    
    </div>
    <div class="params">
     
      <% render :layout=>'container-search-result-tool', :locals=>{:title=>'Page Tools'} do %>
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
      <% end %>

      <% render :layout=>'container-search-result-tool', :locals=>{:title=>'Comments'} do %>
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
        Filler Filler Filler.
      <% end %>
    
    </div>
  </div>
  <div class="suggestions">
 
    <% render :layout=>'container-search-result-tool', :locals=>{:title=>'Suggestions'} do %>
      Filler Filler Filler.
      Filler Filler Filler.
      Filler Filler Filler.
      Filler Filler Filler.
      Filler Filler Filler.
      Filler Filler Filler.
      Filler Filler Filler.
    <% end %>

  </div>
</div>
